{{>nav}}
<div class="container">
    <div id="newItem" class="card" style="width: 12rem;">
        <img src="./img/hanger-temp.png" class="card-img-top" alt="new item">
    </div>

    <div id="myHamper" class="card" style="width: 12rem;">
        <img src="./img/hamper-temp.png" id="logo" class="card-img-top" alt="my hamper">
    </div>
</div>

<div class="plate">
  <p class="script"><span>Dry</span></p>
  <p class="shadow text1">CLEANING</p>
  <p class="shadow text2">MADE</p>
  <p class="shadow text3">EASY</p>
  <p class="script"><span>with Hamper</span></p>
</div>


<div class="contact">
    <p class="contactItem">CUSTOMER SERVICE: 555-555-5555</p>
    <p class="contactItem">E-MAIL: hamperDC@gmail.com</p>
    <p class="contactItem">MAIN OFFICE: 666-666-6666</p>
</div>