{{>nav}}
<h1 id="itemHeader">New Item</h1>
<br/>
<div class="newOrderContainer">

  <select class="form-select" aria-label="Default select example">
    <option selected>Select the type</option>
    <option value="1">Shirt</option>
    <option value="2">Jacket</option>
    <option value="3">Pants</option>
    <option value="3">Dress</option>
    <option value="3">Skirt</option>
  </select>

  <select class="form-select" aria-label="Default select example">
    <option selected>Select color category</option>
    <option value="1">Dark</option>
    <option value="2">Light</option>
    <option value="3">White</option>
  </select>

  <select class="form-select" aria-label="Default select example">
    <option selected>Select the material</option>
    <option value="1">Leather</option>
    <option value="2">Linen</option>
    <option value="3">Cotton</option>
  </select>

  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping"></span>
    <input type="text" class="form-control" placeholder="Enter brand name" aria-label="Brand-name" aria-describedby="addon-wrapping">
  </div>

</div>