{{>nav}}
<h1 id="itemHeader">New Item</h1>
<br/>
<div class="newOrderContainer">

  <select id="type" class="form-select" aria-label="Default select example">
    <option selected>Select the type</option>
    <option value="shirt">Shirt</option>
    <option value="pants">Pants</option>
    <option value="blouse">Blouse</option>
    <option value="skirt">Skirt</option>
    <option value="blazer">Blazer</option>
    <option value="coat">Coat</option>
    <option value="sweater">Sweater</option>
    <option value="dress">Dress</option>
  </select>

  <select id="color" class="form-select" aria-label="Default select example">
    <option selected>Select color category</option>
    <option value="dark">Dark</option>
    <option value="light">Light</option>
    <option value="white">White</option>
  </select>

  <select id="material" class="form-select" aria-label="Default select example">
    <option selected>Select the material</option>
    <option value="leather">Leather</option>
    <option value="linen">Linen</option>
    <option value="cotton">Cotton</option>
  </select>

  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping"></span>
    <input type="text" class="form-control" placeholder="Enter brand name" aria-label="Brand-name" aria-describedby="addon-wrapping">
  </div>

</div>

<div class="btnContainer">
  <button id="addBtn" type="button" class="btn btn-info">Add Item</button>
</div>