{{>nav}}
<h1 id="itemHeader">New Item</h1>
<br/>
<div class="newOrderContainer">

  <select id="item_type" class="form-select" aria-label="Default select example">
    <option selected>Select the type</option>
    <option value="shirt">Shirt</option>
    <option value="pants">Pants</option>
    <option value="blouse">Blouse</option>
    <option value="skirt">Skirt</option>
    <option value="blazer">Blazer</option>
    <option value="coat">Coat</option>
    <option value="sweater">Sweater</option>
    <option value="dress">Dress</option>
  </select>

  <select id="item_tone" class="form-select" aria-label="Default select example">
    <option selected>Select tone</option>
    <option value="dark">Dark</option>
    <option value="light">Light</option>
    <option value="white">White</option>
  </select>

  <select id="item_size" class="form-select" aria-label="Default select example">
    <option selected>Select Size</option>
    <option value="XL">XL</option>
    <option value="L">L</option>
    <option value="M">M</option>
    <option value="S">S</option>
  </select>

  <select id="item_material" class="form-select" aria-label="Default select example">
    <option selected>Select the material</option>
    <option id="is_leather" value="leather">Leather</option>
    <option id="is_linen" value="linen">Linen</option>
    <option id="is_cotton" value="cotton">Cotton</option>
  </select>

  {{!-- <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping"></span>
    <input id="item_brand" type="text" class="form-control" placeholder="Enter brand name" aria-label="Brand-name" aria-describedby="addon-wrapping" value="">
  </div> --}}

  <div class="input-group flex-nowrap">
    <input type="text" class="form-control" placeholder="Enter brand name" id="item_brand" aria-describedby="emailHelp">
  </div>

</div>

<div class="btnContainer">
  <button id="addBtn" type="button" class="btn btn-info">Add Item</button>
</div>