<div class='formContainer'>
  <div id='login'>
    <p class='formHeader'>Login</p>
    <div class='field'>
      <label class='label'>Email</label>
      <p class='control has-icons-left has-icons-right'>
        <input class='input' type='email' placeholder='Email' />
        <span class='icon is-small is-left'>
          <i class='fas fa-envelope'></i>
        </span>
      </p>
    </div>
    <div class='field'>
      <label class='label'>Password</label>
      <p class='control has-icons-left'>
        <input class='input' type='password' placeholder='Password' />
        <span class='icon is-small is-left'>
          <i class='fas fa-lock'></i>
        </span>
      </p>
    </div>
    <div class='field'>
      <p class='control'>
        <button class='button is-success'>
          Login
        </button>
      </p>
    </div>
  </div>

  <p class='or'>OR</p>

  <div id='signup'>
    <p class='formHeader'>Create Account</p>
    <div class='field'>
      <label class='label'>Name</label>
      <div class='control has-icons-left has-icons-right'>
        <input class='input' type='text' placeholder='Name' />
        <span class='icon is-small is-left'>
          <i class='fas fa-user'></i>
        </span>
      </div>
    </div>

    <div class='field'>
      <label class='label'>Email</label>
      <div class='control has-icons-left has-icons-right'>
        <input class='input' type='email' placeholder='Email' />
        <span class='icon is-small is-left'>
          <i class='fas fa-envelope'></i>
        </span>
      </div>
    </div>

    <div class='field'>
      <label class='label'>Password</label>
      <p class='control has-icons-left'>
        <input class='input' type='password' placeholder='Password' />
        <span class='icon is-small is-left'>
          <i class='fas fa-lock'></i>
        </span>
      </p>
    </div>

    <div class='field'>
      <p class='control'>
        <button class='button is-success'>
          Create Account
        </button>
      </p>
    </div>
  </div>
</div>