{{>nav}}
<br>
<br>
<br>
<div class="settingsContainer">
    <h5>Name</h5>
    <input class="input" type="text" placeholder="Text input">
    <br>
    <br>
    <h5>Email Preferences</h5>
    <div class="control">
        <label class="radio">
            <input type="radio" name="answer">
            Receive all emails, including special offers and discounts.
        </label>
        <label class="radio">
            <input type="radio" name="answer">
            Only recieve emails related to my orders.
        </label>
    </div>
    
</div>