/* Homepage */
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

#dropdowns {
  display: flex;
  margin-left: 165vh;
}

.container-fluid {
  background-color: #b8e3ea;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 40px;
  padding: 40px;
  padding-top: 35px;
  background-color: #f6fafb;
}

.contact {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #b8e3ea;
  border-top: 5px;
  border-style: solid;
  border-color: #8eb2df;
}

.contactItem {
  margin: 20px;
}

.plate {
  width: 410px;
  margin: 5% auto;
  margin-top: 2%;
}
.shadow {
  color: #fff;
  font-family: Arvo;
  font-weight: bold;
  text-shadow: -3px -3px 0 #8eb2df, 3px -3px 0 #8eb2df, -3px 3px 0 #8eb2df, 3px 3px 0 #8eb2df,
    4px 4px 0 #fff, 5px 5px 0 #fff, 6px 6px 0 #fff, 7px 7px 0 #fff;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin: 0;
  text-align: center;
}
.script {
  font-family: 'Seaweed Script';
  color: #fff;
  text-align: center;
  font-size: 30px;
  position: relative;
  margin: 0;
}
.script span {
  background-color: #8eb2df;
  padding: 0 0.3em;
}
.script:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #fff;
}
.text1 {
  font-size: 50px;
}
.text2 {
  font-size: 90px;
}
.text3 {
  font-size: 75px;
}

/* Login Page */
#signup {
  width: 50vh;
  border-style: solid;
  border-color: #8eb2df;
  border-width: 2px;
  padding: 10px;
  background-color: #f6fafb;
  margin: 5vh;
}

#login {
  width: 50vh;
  border-style: solid;
  border-color: #8eb2df;
  border-width: 2px;
  padding: 10px;
  background-color: #f6fafb;
  margin: 5vh;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.formHeader {
  text-align: center;
}

.or {
  margin-top: 30vh;
  font-weight: bold;
  color: #8eb2df;
}

.loginPageHeader {
  width: 100%;
  height: 15vh;
  background-color: #b8e3ea;
}

.loginPageFooter {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #b8e3ea;
  height: 15vh;
}

/* Create Order */
.newOrderContainer {
  display: flex;
}

#itemHeader {
  text-align: center;
}
