#dropdowns {
  display: flex;
  margin-left: 155vh;
}

.container-fluid {
  background-color: #b8e3ea;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 40px;
  padding: 40px;
  background-color: #f6fafb;
}

.contact {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #b8e3ea;
  border-top: 5px;
  border-style: solid;
  border-color: #8eb2df;
}

.contactItem {
  margin: 20px;
}
